@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

@tailwind base;

@font-face {
  font-family: poor-story;
  src: url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
}

body {
  font-family: "Poor Story", "Comic Sans MS", sans-serif;
  background-color: #ffffff;
}

.force-font {
  font-family: "Poor Story", "Comic Sans MS", sans-serif;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
